{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="http://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <script src="{% static 'js/jquery.min.js' %}" crossorigin="anonymous"></script>
        <title>Login</title>
      
    </head>

    <body>

                    <form class="login-form" method="POST">
                        {% csrf_token %}

                       <h4>WINOVER ANALYTICS</h4>

                        {% if messages %}
                            <div class="alert alert-info" role="alert">
                                {% for message in messages %}
                                    {{ message }} 
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="txtb">
                            <input placeholder="Usuario" id="username" name="username" type="text">
                          </div>
                  
                          <div class="txtb">
                            <input  placeholder="Senha" id="password" name="password" type="password">
                          </div>
                  
                          <input type="submit" class="logbtn" value="Login">
                  
                         
                  
                        </form>



  </body>
</html>